.page-section{
  padding: 1.2rem 0;

  @mixin atMedium{
    padding: 4.5rem 0; /*top and bottom 4.5 hor and vert 0*/
  }

  &--blue{
    background: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
    background-size: cover; 
  }
}
